@model IEnumerable<folio.Models.Suggestion>

@{
    ViewData["Title"] = "View Mentees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["LecturerId"] = (Context.Items["UserInfo"] as UserInfo).Id;
}
@section Navbar
    {
    <ul class=" navbar-nav flex-grow-1 flex-sm-row justify-content-sm-end">
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="Details" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Profile</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-controller="Suggestion" asp-action="Index" asp-route-id="@ViewData["LecturerId"]">Post Suggestion</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="ViewMentees" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Mentees</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="Index" asp-controller="SkillSet" asp-route-id="@ViewData["LecturerId"]">Skill Sets</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="ChangePassword" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">Change Password</a>
        </li>

        <li class="nav-item text-center mx-sm-3">
            <a class="button" id="btn-logout">Log Out</a>
        </li>
    </ul>
}

<h1 class="text-center">Suggestion Details</h1>

<div class="container d-flex flex-row" style="margin-top:50px;">
    <div class="d-flex flex-column" style="overflow:scroll; width:35%; height:550px; border:5px;">
        @foreach (var i in Model)
        {
            <a onclick="ShowDes()">
                <ul class="list-group">
                    <li class="font-weight-bold list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <p id="l_id">ID: @i.SuggestionId</p>
                        <div class="font-weight-bold p-2 bd-highlight"
                             style="border-color:darkslategrey;
                                overflow: hidden;text-overflow: ellipsis; width: 240px; white-space: nowrap;">
                            <p id="l_des">@i.Description</p>
                        </div>
                        <div class="font-weight-bold badge badge-primary badge-pill"
                             style="color:#000; background:#FFD00B">@i.Status</div>
                        </li>
                    </ul>
                </a>

            }
    </div>

    <div class="d-flex flex-column LCards ">
        <div class="d-flex flex-row">
            <div style="box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
                     width:550px; height:55px;">
                <p id="r_id" style="padding:8px;"></p>

            </div>

            <a asp-action="Create" asp-controller="Suggestion" asp-route-id="@ViewData["studentId"]">
                <div class="text-center"
                     style="background-color:#FFD00B; font-size:35px; width:60px; height:55px;
                         box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);">
                    +
                </div>
            </a>

        </div>

        <div>
            <div class="d-flex" style="box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                     height: 450px;width: 470px;
                     margin:30px 50px 20px 40px;"><p style="padding:8px;" id="r_des"></p></div>
        </div>
    </div>

</div>

<style>
    div.LCards {
        margin-left: 50px;
        margin-bottom: 50px;
        height: 550px;
        width: 550px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.1);
        text-align: left;
    }
</style>




<script>
    function ShowDes() {
        var id = document.getElementById("l_id").innerHTML;
        var des = document.getElementById("l_des").innerHTML;
        document.getElementById("r_id").innerHTML = id;
        document.getElementById("r_des").innerHTML = des;

    }
</script>
