@model folio.Models.Lecturer

@{
    ViewData["Title"] = "View Lecturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["LecturerId"] = (Context.Items["UserInfo"] as UserInfo).Id;
}
@section Navbar
    {
    <ul class=" navbar-nav flex-grow-1 flex-sm-row justify-content-sm-end">
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="Details" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Profile</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-controller="Suggestion" asp-action="Index" asp-route-id="@ViewData["LecturerId"]">Post Suggestion</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="ViewMentees" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Mentees</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="Index" asp-controller="SkillSet" asp-route-id="@ViewData["LecturerId"]">Skill Sets</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="ChangePassword" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">Change Password</a>
        </li>

        <li class="nav-item text-center mx-sm-3">
            <a class="button" id="btn-logout">Log Out</a>
        </li>
    </ul>
}

<h1 class="text-center">Change Password</h1>
<div class="container">
    <div class="row my-5">
        <a class="mx-auto" asp-controller="Lecturer" asp-action="Index">
            <img class="faded logo" alt="folio" src="/img/logo.png">
        </a>
    </div>
    <div class="row">
        <!-- CP card -->
        <div class="card fancy col-10 col-sm-8 col-md-6 col-lg-4 mx-auto my-5">
            <div class="card-body">
                <div class="card-title" style="font-size:45px;">
                    Change Password.
                </div>
                <div class="alert alert-danger" role="alert" id="changeStatus">
                </div>
                <!-- login form -->
                <form asp-action="ChangePassword" method="post" asp-controller="Lecturer" id="change-form">
                    <div style="visibility:hidden;" id="modelPw">@Model.Password</div>
                    <div class="md-form">
                        <input type="password" class="form-control" id="old-Password">
                        <label for="old-Password">Old Password</label>
                    </div>

                    <div class="md-form">
                        <input type="password" class="form-control" id="new-Password" asp-for="Password">
                        <label for="new-Password">New Password</label>
                    </div>

                    <div class="md-form">
                        <label for="comfirm-Password">Confirm Password</label>
                        <input type="password" name="ComfirmPassword" class="form-control" id="comfirm-Password">
                    </div>

                    <button class="submitBtn font-weight-bold" type="submit" name="submit-btn" id="change-submit">
                        <span>Change</span>
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

<style>
    .submitBtn {
        margin: 7px;
        font-size: 18px;
        background-color: #FFD00B;
        border-color: #FFD00B;
        padding: 7px 7px;
        width: 100px;
        height: 50px;
        transition: all 0.5s;
    }

        .submitBtn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .submitBtn span:after {
                content: '\25b6';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -10px;
                transition: 0.5s;
            }

        .submitBtn:hover span {
            padding-right: 20px;
        }

            .submitBtn:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
