@model IEnumerable<folio.Models.Project>
@{  
  ViewData["UserInfo"] = Context.Items["UserInfo"];
  ViewData["StudentId"] = (ViewData["UserInfo"] as UserInfo).Id;
}



<h4 class="PageTitle">View Projects</h4>
<div class="nav-item text-center mx-sm-3">
    <a class="button striking" asp-controller="Project" asp-action="Create">
        Create
    </a>
</div>
@if (Model.ToList().Count > 0)
{
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap">

            @foreach (var i in Model)
            {
                <div class="LCards">
                    @{ string imageFileName = i.ProjectPoster; }
                    <img src="~/img/@imageFileName"
                         style="width:100%;" alt="@i.ProjectPoster" class="LSelect" />

                    <div class="LContainer">
                       Title: <h4 class="text-lg-left font-weight-bold" style="margin: 5px;">@i.Title</h4>
                       ProjectId:<h4 class="text-lg-left font-weight-bold" style="margin: 5px;">@i.ProjectId</h4>
                        <a class="button striking" id="editbtn" asp-controller="Project" asp-action="Edit" asp-route-id="@i.ProjectId">Edit</a>
                        <a class="button striking" id="editbtn1" asp-controller="Project" asp-action="Detail" asp-route-id="@i.ProjectId">View</a>
                        <p class="text-md-left font-weight-light font-italic" style="margin: 5px;"></p>
                        <p class="text-md-left font-weight-bold "
                           style="margin: 5px; color:#2d2d30"></p>
                    </div>

                </div>
            }
        </div>

    </div>

}
<style>
    div.LCards {
        margin: 50px;
        float: left;
        width: 250px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
    }
    div.LContainer.text-lg-left {
        text-align:center;
    }
    a.button.striking {
        float:right;

    }
    h4.PageTitle{
        text-align:center;
    }
    #editbtn {
        float:left;
    }
</style>